@font-face {font-family: Neometric; src: url('../fonts/Neometric.ttf');}

/* -----------------------------------------------------------
	MAIN STYLES
-----------------------------------------------------------*/
  .centered-child {
	margin-left: auto;
	margin-right: auto;
}
.well {
	@include clearfix;
	border-radius:$size-sm;
	padding:$size-md;
	height:auto;
}

img {
	float: left;
}

/* -----------------------------------------------------------
	NAV BAR
-----------------------------------------------------------*/

#menubar{
    background-color: rgba(255,255,255,.8);
    width:100%;
    height:50px;
    display:block;
    position:fixed;
    top:0;
    left:0;
    }
.logo{
    float:left;
    width: 70px;
    height: 70px;
    margin:10px 0px 0px 25px;
    }
nav{
    float:right;
    margin: 20px 25px 0px 0px;
    }
nav ul li{
    list-style:none;
    float:left;
    }
nav a {
  padding-left:20px;
  padding-right:20px;
  }
nav a:hover {
  color: #e93a45;
    }
.active {
  color:#e93a45;
}

/* -----------------------------------------------------------
	CENTERED ROWS AND COLUMNS
-----------------------------------------------------------*/

/* centered columns styles */
.row-centered {
    text-align:center;
}

/* -----------------------------------------------------------
  GROUP STYLINGS
-----------------------------------------------------------*/
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    height:35vh;
}
.hero-element {
  float: right;
  margin-top: 100px;
  width: 30vw;
  height:20vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.intro {
  background-color: white;
  padding: 2em;
}
.intro-element {
  float: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 13vw;
  height: 13vh;
  margin-right: 5em;
  margin-top: 0.5em;
}
.emotion {
    background-repeat: no-repeat;
    background-size: cover;
    height:30vh;
}
.emotion-smiley-positive, .emotion-smiley-negative {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.emotion-smiley-positive {
    background-image: url('../img/courage_icon.svg');
}
.emotion-smiley-negative {
    background-image: url('../img/grief_icon.svg');
}
.personality {
    background-color: #858585;
    padding: 2em;
}
.personality-image {
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 30vh;
    margin-top: 0.5em;
    margin-bottom: 1em;
}


/* -----------------------------------------------------------
  METAL GROUP STYLINGS
-----------------------------------------------------------*/

.hero-metal {
    background-image: url('../img/metal_bg_1.jpg');
}
.hero-element-metal {
  background-image: url('../img/metal_icon_200px.svg');
}
.intro-element-metal {
  background-image: url('../img/metal_character.svg');
}
.emotion-metal {
  background-image: url('../img/metal_bg_2.jpg');
}
.personality-image-metal {
  background-image: url('../img/metal_pic_1.jpg');
}