//LIGHT COLOR
h1, h2, h3, h4, p, .others h4, .quiz-button {
	color:$color-light;
}

// DARK COLOR
.intro p, .cycles p, .cycles h2, .cycles h3, .quiz-section h3 {
	color:$color-dark;
}

h1 {
	font-weight:300;
	font-size:5em;
	margin-top:-80px;
	//letter-spacing:5px;
}
h2, .quiz-button {
	font-weight: 400;
	font-size: 2em;
}
h3 {
	font-weight:300;
	font-size: 1.4em;
	display: block;
}
h3.h3-emotion {
	float: right;
}
h4 {
	font-weight:300;
	display: block;
	text-align: center;
}
p, .footer a {
	font-weight:300;
}
#menubar a {
	color:$color-dark;
	text-decoration:none;

	&:hover {
		text-decoration:none;
	}
}
.footer a {
	color:$color-light;
	text-decoration:none;
	font-size: 0.8em;

	&:hover {
		text-decoration:none;
	}
}
.footer-p {
	font-size: 0.6em;
}