$font-family:'Poppins',sans-serif;
$color-light:white;
$color-dark: #808080;

$size-sm: 5px;
$size-md: $size-sm * 2;
$size-lg: $size-md * 2;

$site-width:1280px;

// Sass Map
$container-width:(
	xs:0px,
	sm:768px,
	md:992px,
	lg:1200px,
	xl:1400px
	);

$gutter-width:$size-md;
$column-length:12;


$boxes-map:(
	p:padding,
	m:margin
	);
$positions-map:(
	t:top,
	r:right,
	b:bottom,
	l:left
	);
// h 0 horizontal, v = vertical, ''=all sides
$sizes-map:(
	l:$size-lg,
	m:$size-md,
	s:$size-sm,
	n:0
	);